@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BR:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --font1:"Lugrasimo", cursive;
    --font2:"Playwrite BR", cursive;
}

html , body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 4vw;
    font-family: var(--font1);

}

header > p{
    padding-bottom: 50px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 1.2em;
    
}

section > p{
    padding-bottom: 2em;
    font-family: var(--font2);
    font-size: 1.2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(49, 49, 49);
    color: white;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.466);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.089);
    width: 400px;
    text-shadow: 1px 1px 1px black;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02{
    background-image: url(../imagens/background002.jpg);
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}